<h1 align="center"> <%= "Category: " + @category.name + " " %> Article list </h1>
<% if logged_in? && current_user.admin? %>
<div class = "row">
  <span class="badge" align="center"> <%= link_to "Edit Category Name", edit_category_path %> </span>
</div>
<% end %>
<% if @category_articles.size == 0 %>
  <p align="center">There are no articles</p>

<% else %>

<div align="center">

  <%= will_paginate @category_articles %>
</div>

<%= render "articles/article", obj: @category_articles %>

<div align="center">
  <%= will_paginate @category_articles %>
</div>
<% end %>